<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manish - About</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="nav-bar">
            <li class="nav-item"><a href="http://127.0.0.1:3000/">Home</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="http://127.0.0.1:3000/work">Work</a></li>
        </ul>
    </nav>

    <main>

        <header>
            <h1>About Page</h1>
        </header>

    <div>
        <ul class="list">
            <li>Name: Manish Ponduval</li>
            <li>Job: Fulltime TA @ Ironhack, Part-time Pokemon Trainer</li>
            <li>Date of Birth: 32 Dec 1956</li>
            <li>Hobbies: Pokemon GO, Coding, Drawing </li>
        </ul>
    </div>
    </main>
    
    <footer>
        <p>© 2021 Created by <a href="http://martagg.com">Marta Gilabert</a> & <a href="#">Oliver Grohe</a></p>
    </footer>

</body>
</html>