<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manish - Home</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <ul class="nav-bar">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="http://127.0.0.1:3000/about">About</a></li>
            <li class="nav-item"><a href="http://127.0.0.1:3000/work">Work</a></li>
        </ul>
    </nav>

    <main>
        <header>
            <h2>Manish Poduval</h2>
        </header>
    
        <div>
            <p>Self taught artist from India, worldwide known by hiw sunset paintings and his pasion for Pokemon. <br>
            Currently also working as Teacher at Ironhack school.</p>
            
            <div class="sub">
             <h3>Do you want to know more?</h3>
             <a href="https://www.instagram.com/itspodu/">Check out his Intagram</a>
            </div>
            
        </div>

    </main>

    <footer>
        <p>© 2021 Created by <a href="http://martagg.com">Marta Gilabert</a> & <a href="https://www.instagram.com/oliveiro303/">Oliver Grohe</a></p>
    </footer>

</body>
</html>