<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manish - Work</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <ul class="nav-bar">
            <li class="nav-item"><a href="http://127.0.0.1:3000/">Home</a></li>
            <li class="nav-item"><a href="http://127.0.0.1:3000/about">About</a></li>
            <li class="nav-item"><a href="#">Work</a></li>
        </ul>
    </nav>


    <footer>
        <p>© 2021 Created by <a href="http://martagg.com">Marta Gilabert</a> & <a href="#">Oliver Grohe</a></p>
    </footer>
    
</body>
</html>